@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Redressed", cursive;
  margin: 0;
  height: 100vh;
  background-color: purple;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  background-color: rgba(167, 167, 167, 0.788);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 5px;
  width: 40%;
  border: 1px solid rgb(168, 161, 99);
  box-shadow: 1px 1px 5px rgb(19, 18, 18);
  margin: 20px;
}
input {
  width: 75%;
}
.results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  border: 1px solid rgb(168, 161, 99);
  background-color: rgba(167, 167, 167, 0.788);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(70, 70, 70, 0.795);
  padding: 15px 0px;
}

h1,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.segment {
  width: 300px;
  border-radius: 2px;
  padding: 5px 0px 5px 15px;

  box-shadow: 1px 1px 8px #333;
  margin: 5px;
}

.background {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
